button {
    margin: 20px 40px 20px 40px;
}

#options {
    margin: 20px 40px 20px 40px;
}

form {
    margin: 20px 40px 20px 40px;
    width: 50%;
}

body {
    height: 100%;
    width: 100%;
}
.menu {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
}

canvas {
    width: 100% !important;
    height: 100% !important;
}