<!DOCTYPE html>
<html lang='en'>
<head>
  <meta charset="utf-8" />
  <title>Question {{num}}</title>
</head>
<body>
  <p>{{num}} / {{max_num}}</p>
  <p>Game mode: {{game_mode}}</p>

  <audio controls autoplay>
    <source src={{url}} type="audio/mpeg">
    Your browser does not support the audio element.
  </audio>
  
  <br>
  {% for poss in possibilites %}
  <a href="{{ url_for('response', num=num, max_num=max_num, game_mode=game_mode, response=poss, correct=correct)}}"><button>{{poss}}</button></a>
  {% endfor %}
  <br>
</body>
</html>